<div class="cover" 
    <% if ( background_image_url != "") { %>
        style ="background-image:url(<%= background_image_url %>)" 
    <% } %>
>
    <div class="profile-token-large" 
        <% if ( thumbnail_url !="") { %>
        style="background-image:url(<%= thumbnail_url %>)"
        <% } %>
    ></div>

    <div class="headline">
        <div class="headline-inner">
            <h2 class="display-name"><%= display_name %></h2>
            <h3 class="username">@<%= username %></h3>
            <p class="bio"><%= bio %></p>
        </div>
    </div>

</div>